@import 'tailwindcss';

@theme {
  --color-primary: red;
  --color-buttonColor: green;

  --text-headLarge: 50px;

  --animate-myAni: ani 2s ease-in infinite;

  --my-grid: repeat(auto-fit, minmax(350px, 1fr));

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }
}

/* base layer , component layer utitlities */

@layer base {
  h1 {
    @apply text-4xl font-bold text-center max-sm:text-3xl;
  }
  h2 {
    @apply text-2xl font-semibold max-sm:text-xl;
  }
  p {
    @apply text-lg max-sm:text-xs text-justify;
  }
}

@layer components {
  .icons {
    @apply h-[150px] w-[150px] hover:text-rose-500 hover:scale-110 transition-all max-sm:size-[100px];
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}
